<!DOCTYPE html>
<html lang="en" data-th-replace="~{fragments/skeleton::layout('user', ~{::#user_segment})}">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div class="ui grid segment" id="user_segment">
    <div class="four wide left attached column">
        <div class="ui vertical fluid tabular menu">
            <a class="item" data-tab="user" data-th-classappend="${(tab eq 'user') ? 'active' : ''}">
                Info
            </a>
            <a class="item" data-tab="change_password" data-th-classappend="${(tab eq 'pass') ? 'active' : ''}">
                Password
            </a>
        </div>
    </div>
    <div class="twelve wide stretched right attached column">
        <div class="ui seamless right attached tab segment" data-tab="user" data-th-classappend="${(tab eq 'user') ? 'active' : ''}">

            <div class="ui card">
                <div class="image">

                     <img data-th-if="${appUser.imageUrl}" data-th-src="${appUser.imageUrl}">

                    <img data-th-unless="${appUser.imageUrl}" class="ui small circular image" data-th-src="@{/images/square-image.png}">
                </div>
                <div class="content">
                    <a class="header" data-th-text="${appUser.username}">username</a>
                    <div class="description">
                        Joined via <span data-th-text="${appUser.provider}"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui seamless right attached tab segment" data-tab="change_password" data-th-classappend="${(tab eq 'pass') ? 'active' : ''}">
            <div class="ui inverted segment">
                <h4 class="">Change password</h4>
                <form class="ui inverted form" id="change_password_form"
                      method="post"
                      data-th-action="@{/user/password}"
                      data-th-object="${changePasswordForm}"
                      data-th-classappend="${#fields.hasAnyErrors() ? 'error' : ''}"
                >
                    <input type="hidden" name="_method" value="PATCH">
                    <div class="field" data-th-classappend="${#fields.hasErrors('oldPassword') ? 'error' : ''}">
                        <label>Old password</label>
                        <input data-th-field="*{oldPassword}" placeholder="old password" type="password" name="old_password" autocomplete="off" autofocus="">
                        <div data-th-if="${#fields.hasErrors('oldPassword')}" class="ui basic red pointing prompt fluid label">
                            <p data-th-errors="*{oldPassword}"></p>
                        </div>

                    </div>

                    <div class="field" data-th-classappend="${#fields.hasErrors('password') ? 'error' : ''}">
                        <label>Password</label>
                        <input data-th-field="*{password}" placeholder="password" type="password" name="password" autocomplete="off" autofocus="">

                        <div data-th-if="${#fields.hasErrors('password')}" class="ui basic red pointing prompt fluid label">
                            <p data-th-errors="*{password}"></p>
                        </div>
                    </div>
                    <div class="field" data-th-classappend="${#fields.hasErrors('passwordConfirm') ? 'error' : ''}">
                        <label>Confirm password</label>
                        <input data-th-field="*{passwordConfirm}" placeholder="confirm password" type="password" name="confirm_password"
                               autocomplete="off">

                        <div data-th-if="${#fields.hasErrors('passwordConfirm')}" class="ui basic red pointing prompt fluid label">
                            <p data-th-errors="*{passwordConfirm}"></p>
                        </div>
                    </div>
                    <div class="ui error message">

                        <div data-th-if="${#fields.hasErrors('samePassword')}">
                            <p data-th-errors="*{samePassword}"></p>
                        </div>

                    </div>

                    <div class="field">
                        <input class="ui inverted submit button" type="submit" value="Change password"/>
                    </div>

                </form>
            </div>


            <script>
                        $('#change_password_form')
                            .form({
                                fields: {
                                    password: {
                                        identifier: 'password',
                                        rules: [
                                            {
                                                type: 'empty',
                                                prompt: 'Please enter your password'
                                            },
                                            {
                                                type: 'length[6]',
                                                prompt: 'Your password must be at least 6 characters'
                                            }
                                        ]
                                    }
                                    ,
                                    confirm_password: {
                                        identifier: 'confirm_password',
                                        rules: [
                                            {
                                                type: 'match[password]',
                                                prompt: 'Your passwords do not match'
                                            }
                                        ]
                                    }
                                }
                            })
                            ;

            </script>


        </div>
    </div>
    <script>
            $().ready(function () {
                $('#user_segment .menu .item').tab();
            });


    </script>
</div>
</body>
</html>