<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" data-th-replace="~{fragments/skeleton::layout('home', ~{::#home_content})}">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<div id="home_content">
    <div class="ui padded segment">
        <h2 class="ui dividing header">How to create this app</h2>


        <div class="ui link cards">
            <div class="card">
                <div class="image">
                    <img src="/images/spring_social_2_cloud_part_3_oauth2.jpg">
                </div>
                <div class="content">
                    <div class="header">OAuth2 sign in</div>
                    <div class="meta">
                        <a>part 3</a>
                    </div>
                    <div class="description">
                        Sign in via google and github using Spring security oauth2 client support
                    </div>
                </div>
                <div class="extra content">
                    <div class="center aligned meta">
                        <a href="https://youtu.be/40BxatEr5aE" target="_blank"><i class="ui youtube icon"></i></a>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="image">
                    <img src="/images/spring_social_2_cloud_part_2_security_overview.jpg">
                </div>
                <div class="content">
                    <div class="header">Spring security overview</div>
                    <div class="meta">
                        <a>part 2</a>
                    </div>
                    <div class="description">
                        Overview of spring security architecture for spring mvc web apps
                    </div>
                </div>
                <div class="extra content">
                    <div class="center aligned meta">
                        <a href="https://youtu.be/vQ2B3qAWuAU" target="_blank"><i class="ui youtube icon"></i></a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="image">
                    <img src="/images/spring_social_2_cloud_part_1.jpg">
                </div>
                <div class="content">
                    <div class="header">Deploying spring apps to cloud</div>
                    <div class="meta">
                        <a>part 1</a>
                    </div>
                    <div class="description">
                        Deploying spring web apps to railway.app cloud provider
                    </div>
                </div>
                <div class="extra content">
                    <div class="center aligned meta">
                        <a href="https://youtu.be/40BxatEr5aE" target="_blank"><i class="ui youtube icon"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
</body>
</html>